@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model sports_hub.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}
<head>
    <link rel="stylesheet" href="~/css/Account/password-reset.css" />
    <title>@ViewData["Title"]</title>
</head>
<div class="check_your_email_container">
    <img src="~/images/Account/EmailSent.svg" />

    <h2 class="check_email"> @Localizer["CheckEmail"] @Model.Email</h2>
    <p class="check_description">
        @Localizer["Description"]
    </p>
</div>