@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


.user_login_form {
    width: 391px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
}

.user_login_form > h1, h2, h3, h4, h5, h6, button, div, input {
    font-weight: 600;
}

.user_login_form > div, h3, h4, ul, input {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.user_login_form > div {
    margin-bottom: 10px;
}

.user_login_form .input_error {
    color: #D72130;
    font-size: 12px;
}

.user_login_form .form_title {
    font-size: 24px;
    line-height: 33px;
}

.user_login_form .form_sub_title {
    font-size: 12px;
    line-height: 17px;
}

.user_login_form .forgot_description {
    font-size: 14px;
    line-height: 19px;
    color: #596377;
    max-width: 60%;
}

.user_login_form .cred_label {
    color: #434C5D;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    margin-top: 10px;
}

.user_login_form .cred_input {
    height: 42px;
    width: 390px;
    border-radius: 0px;
    background: #FFFFFF;
    border: 1px solid #D4D9E2;
    box-sizing: border-box;
    text-indent: 12px;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
}

.user_login_form .cred_small_input {
    height: 42px;
    width: 178px;
    border-radius: 0px;
    background: #FFFFFF;
    border: 1px solid #D4D9E2;
    box-sizing: border-box;
    text-indent: 12px;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
}

.user_login_form .row_with_two_columns{
    display: flex;
}

.user_login_form .one_column {
    padding-right: 34px;
}

.user_login_form .cred_input::placeholder {
    color: #C6CCD7;
}

.user_login_form .cred_small_input::placeholder {
    color: #C6CCD7;
}

.user_login_form .submit_button {
    width: 390px;
    height: 42px;
    color: white;
    background-color: #D72130;
    border: none;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-top: 15px;
}

.user_login_form .back_to_signin {
    height: 17px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.user_login_form .messages {
    color: #57A902;
    font-size: 14px;
    line-height: 19px;
}

.user_login_form .forgot_password {
    color: #4A90E2;
    text-decoration: none;
    font-size: 10px;
    line-height: 14px;
    right: 0;
    bottom: 5px;
    margin-top: 8px;
}

.user_login_form .double_container {
    display: flex;
    justify-content: space-between;
}

.check_your_email_container {
    text-align: center;
    position: absolute;
    width: 443px;
    height: 178.85px;
    left: 50%;
    top: 40%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
}

.check_your_email_container .check_email {
    color: black;
    font-size: 24px;
    line-height: 33px;
}
.check_your_email_container .check_description {
    color: #596377;
    font-size: 14px;
    line-height: 19px;
}

.third-party-auth {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0px;
    margin: 0px;
}
