body {
}

.clear{
    clear:both;
}

.profile-tab {
    float: left;
    border: 1px solid lightgrey;
    padding: 10px 6% 10px 6%;
    font-weight: 700;
    outline: none;
}

.profile-tab a {
    color:black;
    text-decoration:none;
}


.b2{
    margin: -100px 0px 0px -30px;
}

.profile-tab:focus, .profile-tab:hover{
    box-shadow: 0px 0px 8px lightgrey;
    color: #D72130;
    transform: scale(1.01);
    transition: 0.3s ease;
    outline: none;
    cursor:pointer;
}
.profile-tab:focus, .profile-tab:hover a {
    color: #D72130;
    transition: 0.3s ease;
    text-decoration:none;
}

.profile-tabs-control {
    margin: 0px 0px 0px 20%;
    padding: 0px 0px 1% 0px;
}

.tabcontent {
    width: 100%;
}

.notification-side {
    float: left;
    padding: 10px 6% 10px 10px;
    margin: 0px -50px 0px 0px;
    width: 30%;
}

#notification-title{
    font-weight:700;
    margin: 10% 0px 0px 0px;
}

.notification {
    position: fixed;
    box-shadow: 0px 0px 30px grey;
    width: 450px;
    margin: -5% 0px 0px 60%;
    display: block;
    background-color: white;
    animation: css 0s 5s forwards;
    transition-property: width;
    transition-duration: 5s;
}

@keyframes css {
    to {
        visibility: hidden;
    }
}

.notification-img {
    background-image: url("../../images/Account/Done.png");
    background-repeat: no-repeat;
    background-size: contain;
    height:50px;
    margin: 10%;
    width: 100%;
}

#notification-close {
    text-align: center;
    margin: 0px 0px 0px 230%;
    width: 20px;
    font-weight: 700;
    color: grey;
}

#notification-close:hover {
    cursor: pointer;
}

#notification-retry{
    text-align:right;
}

#notification-content{
    width:230px;
    overflow:auto;
    font-size: 13px;
}
