@{
    Layout = "/Views/AdminPage/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

@section sectionInteractButtons {
    <button class="buttonBigger">Save all changes</button>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/AdminPage/home.css" />
    <link rel="stylesheet" href="~/css/AdminPage/interactButtonsSection.css" />
</head>
<body>
    <div id="containerMain">
        <div id="containerPreviewIcon">
            <img id="previewIcon" src="~/imagesAdminPage/PreviewIcon.svg" />
        </div>
        <hr />
        <div id="titleMainArticles">
            <span>MAIN ARTICLES</span>
        </div>
        <div>
            
        </div>
    </div>
</body>
</html>
