<div style="margin:auto; width:48%">
    <h1 style="text-align: center; color: #000000;">
        Ви надіслали запит на відновлення пароля {0}
    </h1>
    <h4 style="margin: auto; width: 90%; text-align: center; color: #596377; margin-top: 35px ">
        Щоб відновити пароль, перейдіть за цим покликанням і дотримуйтесь інструкцій.
    </h4>
    <a href='{1}' 
        style="display: inline-block; margin-left: 10%; width: 80%; background-color: #D72130; color: #FFFFFF; height: 40px; text-decoration: none; 
        text-align: center; margin-top: 35px; vertical-align: middle; line-height: 40px;text-transform: uppercase; letter-spacing: 0.8px; ">
        Відновити пароль
    </a>
    <h3 style="margin: auto; width: 90%; text-align: center; color: #000000; margin-top: 35px ">
        Чому я повинен відновлювати пароль?
    </h3>
    <h4 style="margin: auto; width: 90%; text-align: center; color: #596377; margin-top: 20px ">
        З огляду безпеки, Sports Hub не зберігає ваш пароль.
        Тому ми не можемо просто надіслати вам ваш старий пароль.
        Для вас було створено унікальне посилання для відновлення пароля.
        <br /><br />
        Будь ласка, проігноруйте це повідомлення, якщо ви не надсилали запит на відновлення паролю.
    </h4>
    <h1 style="display:block; margin: auto; color: #D72130; text-align: center; margin-top: 60px">
        Sports Hub
    </h1>
</div>