<div style="margin:auto; width:48%">
    <h1 style="text-align: center; color: #000000;">
        You have requested to reset your password {0}
    </h1>
    <h4 style="margin: auto; width: 90%; text-align: center; color: #596377; margin-top: 35px ">
        To reset your password click the following link and follow the instructions.
    </h4>
    <a href='{1}' 
        style="display: inline-block; margin-left: 10%; width: 80%; background-color: #D72130; color: #FFFFFF; height: 40px; text-decoration: none; 
        text-align: center; margin-top: 35px; vertical-align: middle; line-height: 40px;text-transform: uppercase; letter-spacing: 0.8px; ">
        Reset password
    </a>
    <h3 style="margin: auto; width: 90%; text-align: center; color: #000000; margin-top: 35px ">
        Why do I have to reset my password?
    </h3>
    <h4 style="margin: auto; width: 90%; text-align: center; color: #596377; margin-top: 20px ">
        As a security best practice, Sports Hub does not store your password. 
        As such we cannot simply send you your old password. 
        A unique link to reset your password has been generated for you.
        <br /><br />
        Please ignore this message if you haven't requested reseting password.
    </h4>
    <h1 style="display:block; margin: auto; color: #D72130; text-align: center; margin-top: 60px">
        Sports Hub
    </h1>
</div>